<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunwei.weibbix.mapper.ClusterMapper">
    <!--获取未分配实例-->
    <select id="getNotAllocatedInstanceSQL" resultType="com.yunwei.weibbix.entity.Instance">
        SELECT * FROM instance WHERE allocated = FALSE AND env = #{env} and type = #{type} ORDER BY name,ip
    </select>
    <!--添加集群-->
    <insert id="addClusterSQL">
        INSERT INTO cluster VALUES (#{id},#{name},#{env},#{type},#{createdAt})
    </insert>
    <!--添加实例集群-->
    <insert id="addInstanceClusterSQL">
        INSERT INTO instance_cluster VALUES (#{id},#{instanceId},#{clusterId})
    </insert>
    <!--更新实例状态,设置实例名称-->
    <update id="updateInstanceAllocatedSQL">
        update instance set allocated = #{allocated},cluster = #{cluster} where id = #{instanceId}
    </update>

    <!--通过环境查询集群名称-->
    <select id="getClusterSQL" resultType="com.yunwei.weibbix.entity.Cluster">
        SELECT * FROM cluster WHERE env = #{env} and type = #{type} ORDER BY name limit #{beforeNum},#{count}
    </select>
    <!--通过环境查询集群数量-->
    <select id="getClusterCoutSQL" resultType="java.lang.Integer">
        SELECT count(*) FROM cluster WHERE env = #{env} and type = #{type}
    </select>
    <!--通过环境集群名称查询集群-->
    <select id="getClusterByNameSQL" resultType="com.yunwei.weibbix.entity.Cluster">
        SELECT * FROM cluster WHERE env = #{env} AND name and type = #{type} LIKE #{name} ORDER BY name limit #{beforeNum},#{count}
    </select>
    <!--通过环境集群名查询集群数量-->
    <select id="getClusterCoutByNameSQL" resultType="java.lang.Integer">
        SELECT count(*) FROM cluster WHERE env = #{env} and type = #{type} AND name LIKE #{name}
    </select>
    <!--通过集群id获取该集群所有的实例id-->
    <select id="getInstancesByClusterIdSQL" resultType="com.yunwei.weibbix.entity.Instance">
        SELECT * FROM instance
          WHERE id IN (SELECT instanceId FROM instance_cluster WHERE clusterId = #{clusterId})
          order by name
    </select>

    <!--删除集群实例-->
    <delete id="deleteClusterInstanceSQL">
        DELETE FROM instance_cluster WHERE instanceId = #{instanceId}
    </delete>
    <!--获取集群实例数量-->
    <select id="getClusterInstanceCountSQL" resultType="java.lang.Integer">
        SELECT count(*) FROM instance_cluster WHERE clusterId = #{clusterId}
    </select>
    <!--删除集群-->
    <delete id="deleteClusterSQL">
        DELETE FROM cluster WHERE id = #{clusterId}
    </delete>
</mapper>