<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunwei.weibbix.mapper.ClusterMapper">
   <insert id="insertKafkaClusterSQL">
       INSERT INTO kafka_cluster(clusterId,clusterName,clusterEnv) VALUE (#{clusterId},#{clusterName},#{clusterEnv})
   </insert>
    <insert id="insertClusterHostSQL">
        INSERT INTO host_cluster VALUE (#{hcId},#{hostId},#{clusterId})
    </insert>
    <select id="selectAllKafkaCusterSQL" resultType="com.yunwei.weibbix.entity.KafkaCluster">
        SELECT * FROM kafka_cluster
    </select>
    <select id="selectClusterMemberSQL" resultType="java.lang.String">
        select h.ip FROM hosts h,host_cluster hc WHERE hc.clusterId = #{clusterId} AND h.hostId = hc.hostId
    </select>
</mapper>