<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunwei.weibbix.mapper.InstanceMapper">
    <!--获取创建实例的主机-->
    <select id="getHostForCreateInstanceSQL" resultType="java.util.Map">
        SELECT ip,ins_num FROM hosts WHERE hostGroup = #{hostGroup} AND envType = #{envType} ORDER BY ip
    </select>
    <!--检查实例是否存在-->
    <select id="getInstanceCountByIpNameSQL" resultType="java.lang.Integer">
        SELECT count(*) FROM instance WHERE ip = #{ip} AND name = #{name}
    </select>
    <!--保存实例-->
    <insert id="saveInstanceSQL">
        INSERT INTO instance VALUES (#{id},#{ip},#{port},#{name},#{dir},#{env},#{type},#{allocated},#{cluster},#{project})
    </insert>

    <!--获取实例-->
    <select id="selectInstanceByEnvSQL" resultType="com.yunwei.weibbix.entity.Instance">
        SELECT * FROM instance WHERE env = #{env} and type = #{type} ORDER BY ip,name LIMIT #{beforeNum},#{count}
    </select>
    <select id="selectInstanceCountByEnvSQL" resultType="java.lang.Integer">
        SELECT count(*) FROM instance WHERE env = #{env} and type = #{type}
    </select>
    <select id="selectInstanceByEnvIpSQL" resultType="com.yunwei.weibbix.entity.Instance">
        SELECT * FROM instance WHERE env = #{env} and type = #{type} AND ip LIKE #{ip} ORDER BY ip,name limit #{beforeNum},#{count}
    </select>
    <select id="selectInstanceByEnvIpCountSQL" resultType="java.lang.Integer">
        SELECT count(*) FROM instance WHERE env = #{env} and type = #{type} AND ip LIKE #{ip}
    </select>
    <!--获取实例的分配状态-->
    <select id="getInstanceAllocatedByIdSQL" resultType="java.lang.Boolean">
        SELECT allocated FROM instance WHERE id = #{id}
    </select>
    <!--删除实例-->
    <delete id="deleteInstanceSQL">
        DELETE FROM instance WHERE id = #{id}
    </delete>
</mapper>