<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunwei.weibbix.mapper.ProjectMapper">
    <!--保存项目-->
    <insert id="saveTreeAppSQL">
        INSERT INTO tree_app VALUES (#{id},#{text},#{icon},#{env})
    </insert>
    <!--查询项目-->
    <select id="getTreeAppByEnvSQL" resultType="com.yunwei.weibbix.entity.TreeApp">
        SELECT * FROM tree_app WHERE env = #{env}
    </select>
    <!--查询tomcat集群-->
    <select id="getTomcatClusterByEnvSQL" resultType="com.yunwei.weibbix.entity.TomcatCluster">
        SELECT * FROM tomcat_cluster WHERE env = #{env} ORDER BY name
    </select>
    <!--保存模块-->
    <insert id="saveTreeModelSQL">
        INSERT INTO tree_model VALUES (#{id},#{text},#{icon},#{appId},#{clusterId})
    </insert>
    <!--查询模块-->
    <select id="getTreeModelByAppIdSQL" resultType="com.yunwei.weibbix.entity.TreeModel">
        SELECT * FROM tree_model WHERE appId = #{appId}
    </select>
    <!--通过ID查询tomcat集群-->
    <select id="getTomcatClusterByClusterIdSQL" resultType="com.yunwei.weibbix.entity.TomcatCluster">
        SELECT * FROM tomcat_cluster WHERE id = #{clusterId}
    </select>
    <!--通过ID查询tomcat实例-->
    <select id="getTomcatInstanceByClusterIdSQL" resultType="com.yunwei.weibbix.entity.TomcatInstance">
        SELECT * from tomcat_ins WHERE id IN (
          SELECT instanceId FROM instance_cluster WHERE clusterId = #{clusterId}
        )
    </select>
    <!--获取项目模块数量-->
    <select id="getTomcatTreeModelCountSQL" resultType="java.lang.Integer">
        select count(*) from (SELECT tree_model.id FROM tree_app,tree_model WHERE tree_app.id IN (SELECT id FROM tree_app WHERE text = (SELECT text FROM tree_app WHERE id = #{id})) AND tree_app.id = tree_model.appId) as m;
    </select>
    <!--删除项目-->
    <delete id="deleteTomcatTreeAppSQL">
        DELETE FROM tree_app WHERE text = #{text}
    </delete>
    <!--删除模块-->
    <delete id="deleteTomcatTreeModelSQL">
        DELETE FROM tree_model WHERE id = #{id}
    </delete>
    <!--查询项目数量-->
    <select id="getTomcatTreeAppCountSQL" resultType="java.lang.Integer">
        SELECT count(*) FROM tree_app WHERE text = #{text}
    </select>
    <!--获取项目名称-->
    <select id="getTomcatTreeAppTextSQL" resultType="java.lang.String">
        SELECT text FROM tree_app WHERE id = #{id}
    </select>
    <!--查看模块是否已存在-->
    <select id="getExistModelCountSQL" resultType="java.lang.Integer">
        SELECT count(*) FROM tree_model WHERE text = #{text} AND appId = #{appId}
    </select>
    <!--更新实例所属项目-->
    <update id="updataTomcatInstanceProjectSQL">
        UPDATE tomcat_ins
          SET project = (SELECT text FROM tree_app WHERE id = #{appId})
          WHERE id IN (SELECT instanceId FROM instance_cluster WHERE clusterId = #{clusterId})
    </update>
    <!--删除实例项目名称-->
    <update id="deleteTomcatInstanceProjectSQL">
        UPDATE tomcat_ins SET project = ' ' WHERE id IN (SELECT instanceId FROM instance_cluster WHERE clusterId = (SELECT clusterId FROM tree_model WHERE id = #{id}));
    </update>
</mapper>