<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunwei.weibbix.mapper.ProjectMapper">
    <!--保存项目-->
    <insert id="saveTreeAppSQL">
        INSERT INTO tree_app VALUES (#{id},#{text},#{icon},#{env})
    </insert>

    <!--查询项目-->
    <select id="getTreeAppByEnvSQL" resultType="com.yunwei.weibbix.entity.TreeApp">
        SELECT * FROM tree_app WHERE env = #{env}
    </select>

    <!--保存模块-->
    <insert id="saveTreeModelSQL">
        INSERT INTO tree_model VALUES (#{id},#{text},#{icon},#{appId},#{clusterId})
    </insert>

    <!--查询模块-->
    <select id="getTreeModelByAppIdSQL" resultType="com.yunwei.weibbix.entity.TreeModel">
        SELECT * FROM tree_model WHERE appId = #{appId}
    </select>

    <!--获取项目模块数量-->
    <select id="getTreeModelCountSQL" resultType="java.lang.Integer">
        select count(*) from (SELECT tree_model.id FROM tree_app,tree_model WHERE tree_app.id IN (SELECT id FROM tree_app WHERE text = (SELECT text FROM tree_app WHERE id = #{id})) AND tree_app.id = tree_model.appId) as m;
    </select>

    <!--获取项目名称-->
    <select id="getTreeAppTextSQL" resultType="java.lang.String">
        SELECT text FROM tree_app WHERE id = #{id}
    </select>

    <!--删除项目-->
    <delete id="deleteTreeAppSQL">
        DELETE FROM tree_app WHERE text = #{text}
    </delete>

    <!--删除模块-->
    <delete id="deleteTreeModelSQL">
        DELETE FROM tree_model WHERE id = #{id}
    </delete>

    <!--查询项目数量-->
    <select id="getTomcatTreeAppCountSQL" resultType="java.lang.Integer">
        SELECT count(*) FROM tree_app WHERE text = #{text}
    </select>

    <!--查看模块是否已存在-->
    <select id="getExistModelCountSQL" resultType="java.lang.Integer">
        SELECT count(*) FROM tree_model WHERE text = #{text} AND appId = #{appId}
    </select>

    <!--获取模块类型-->
    <select id="getModelTextByIdSQL" resultType="java.lang.String">
        select text from tree_model where id = #{id}
    </select>

    <!--获取项目名称-->
    <select id="getAppTextSQL" resultType="java.lang.String">
        select text
        from tree_app
        where id = (select appId from tree_model where id = #{id})
    </select>

    <!--通类型和环境获取集群-->
    <select id="getClusterByTypeEnvSQL" resultType="com.yunwei.weibbix.entity.Cluster">
        select * from cluster where env = #{env} and type = #{type} order by name
    </select>

    <!--通过集群ID查询实例-->
    <select id="getInstanceByClusterIdSQL" resultType="com.yunwei.weibbix.entity.Instance">
        SELECT * from instance WHERE id IN (
          SELECT instanceId FROM instance_cluster WHERE clusterId = #{clusterId}
        )
    </select>

    <!--更新实例所属项目-->
    <update id="updataInstanceProjectSQL">
        UPDATE instance
          SET project = #{app_text}
          WHERE id IN (SELECT instanceId FROM instance_cluster WHERE clusterId = #{clusterId})
    </update>

    <!--通过模块ID获取集群ID-->
    <select id="getClusterIdByModelIdSQL" resultType="java.lang.String">
        select clusterId from tree_model where id = #{id}
    </select>

    <!--通过APP ID获取项目名称-->
    <select id="getAppTextByAppIdSQL" resultType="java.lang.String">
        select text from tree_app where id = #{appId}
    </select>
</mapper>