<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunwei.weibbix.mapper.UserMapper">
    <!--<select id="getEmpById" resultType="com.test.mybatis.bean.User">-->
    <!--select * from employee where id = #{id}-->
    <!--</select>-->
    <insert id="insertUser">
        INSERT INTO users(username,password,enabled) VALUES (#{userName},#{password},#{enabled})
    </insert>
</mapper>