<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunwei.weibbix.mapper.UsersGroupMapper">
    <select id="selectOneGroup" resultType="com.yunwei.weibbix.entity.UsersGroup">
        select * from usersGroup where groupName = #{groupName}
    </select>
    <select id="selectGroupsSQL" resultType="com.yunwei.weibbix.entity.UsersGroup">
        select * from usersGroup ORDER BY groupId limit #{beforeNum},#{groupsCount}
    </select>
    <select id="selectGroupsCountSQL" resultType="java.lang.Integer">
        SELECT count(groupId) FROM usersGroup
    </select>
    <insert id="insertGroup">
        INSERT INTO usersGroup(groupName,enabled) VALUES (#{groupName},#{enabled})
    </insert>
    <delete id="deleteGroupSQL">
        DELETE FROM usersGroup WHERE groupId = #{groupId}
    </delete>
    <update id="changeGroupStatusSQL">
        UPDATE usersGroup SET enabled = #{enabled} WHERE groupId = #{groupId}
    </update>
    <update id="updateGroupSQL">
        UPDATE usersGroup SET groupName = #{groupName},enabled = #{enabled} WHERE groupId = #{groupId}
    </update>
    <select id="selectEnabledGroupsSQL" resultType="com.yunwei.weibbix.entity.UsersGroup">
        SELECT * FROM usersGroup WHERE enabled = TRUE ORDER BY groupId
    </select>
    <select id="selectUserGroupsSQL" resultType="java.lang.String">
        select groupName from users_groups ug,usersGroup ugs where userId = #{userId} and ug.groupId = ugs.groupId and ugs.enabled = TRUE ;
    </select>
    <select id="selectSearchGroupsCountSQL" resultType="java.lang.Integer">
        SELECT count(groupId) FROM usersGroup WHERE groupName LIKE #{groupName}
    </select>
    <select id="selectSearchGroupsSQL" resultType="com.yunwei.weibbix.entity.UsersGroup">
        select * from usersGroup WHERE groupName LIKE #{groupName} ORDER BY groupId limit #{beforeNum},#{groupsCount}
    </select>
</mapper>