<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunwei.weibbix.mapper.UserMapper">
    <select id="selectOneUser" resultType="com.yunwei.weibbix.entity.User">
        select * from users where userName = #{userName}
    </select>
    <insert id="insertUser">
        INSERT INTO users(username,password,enabled) VALUES (#{userName},#{password},#{enabled})
    </insert>
    <select id="selectUsersSQL" resultType="com.yunwei.weibbix.entity.User">
        SELECT userId,userName,enabled FROM users ORDER BY userId
    </select>
    <delete id="deleteUserSQL">
        DELETE FROM users WHERE userId = #{userId}
    </delete>
    <delete id="changeUserStatusSQL">
        UPDATE users SET enabled = #{enabled} WHERE userId = #{userId}
    </delete>
</mapper>