<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunwei.weibbix.mapper.UserMapper">
    <select id="selectOneUser" resultType="com.yunwei.weibbix.entity.User">
        select * from users where userName = #{userName}
    </select>
    <insert id="insertUser">
        INSERT INTO users(username,password,enabled) VALUES (#{userName},#{password},#{enabled})
    </insert>
    <select id="selectUsersSQL" resultType="com.yunwei.weibbix.entity.User">
        SELECT userId,userName,enabled FROM users ORDER BY userId limit #{beforeNum},#{usersCount}
    </select>
    <delete id="deleteUserSQL">
        DELETE FROM users WHERE userId = #{userId}
    </delete>
    <update id="changeUserStatusSQL">
        UPDATE users SET enabled = #{enabled} WHERE userId = #{userId}
    </update>
    <select id="selectGroupUsersSQL" resultType="java.lang.String">
        SELECT u.userName
          FROM users u,users_groups ug
          WHERE ug.groupId = #{groupId}
            AND ug.userId = u.userId
          Order BY u.userId
    </select>
    <update id="updateUserSQL">
        UPDATE users SET userName = #{userName},enabled = #{enabled} WHERE userId = #{userId}
    </update>
    <update id="updateUserPasswordSQL">
        UPDATE users SET password = #{password} WHERE userId = #{userId}
    </update>
    <select id="selectUsersCountSQL" resultType="java.lang.Integer">
        SELECT count(userId) FROM users
    </select>
</mapper>